:root {
    --form-control-color: rebeccapurple;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #e2e2e2;
    width: min(80vw, 800px);
    margin: auto;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}

/*From https://codepen.io/flostrasser/pen/oNJGzdW */
label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    width: fit-content;
    --slide-distance: 1.2rem;
    --slider-size: 1.25rem;
    --slider-padding: 0.2rem;
    --transition-duration: 200ms;
  }
  
  .slider {
    flex-shrink: 0;
    width: calc(
      var(--slider-size) + var(--slide-distance) + var(--slider-padding) * 2
    );
    padding: var(--slider-padding);
    border-radius: 9999px;
    background-color: #d1d5db;
    transition: background-color var(--transition-duration);
  
    &::after {
      content: "";
      display: block;
      width: var(--slider-size);
      height: var(--slider-size);
      background-color: #fff;
      border-radius: 9999px;
      transition: transform var(--transition-duration);
    }
  }
  
  input:checked + .slider {
    background-color: #487f81;
    &::after {
      transform: translateX(var(--slide-distance));
    }
  }
  
  input:focus-visible + .slider {
    outline-offset: 2px;
    outline: 2px solid hsl(210deg, 100%, 40%);
  }
  
  .label {
    line-height: 1.5;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
/* End from CodePen */

#sod-team {
    display: none
}

#break {
    page-break-before: always;
}

.header {
    font-size: min(6.2vw, 1.5em);
    font-weight: bold;
    justify-content: center;
    height: 7vh;
}

.sub-header {
    font-size: min(4.2vw, 1.2em);
    padding-top: 5px;
}

.main {
    height: min(66vh, 740px);
    overflow-y: auto;
}

.team-container {
    padding-top: 6px;
    padding-bottom: 6px;
}

.grid-header {
    text-align: left;
    font-size: medium;
    border-bottom: solid black 1px;
    padding-bottom: 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    font-size: small;
    text-align: center;
    padding-top: 3px;
    margin: 5px 0px 0px 5px;
}

.hero {
    display: flex;
    justify-content: center;
    height: min(1.1 * 10vw, 1.1 * 64px);
    width: min(1.1 * 10vw, 1.1 * 64px);
    background-position: center;
    background-size: min(10vw,64px);
    background-image: url("../img/hero.webp");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.empty-hero {
    display: flex;
    justify-content: center;
    height: min(1.1 * 13vw, 1.1 * 64px);
    background-position: center;
    background-size: min(13vw,48px);
    background-image: url("../img/heroes-frame/none.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.empty-guide-hero {
    display: flex;
    justify-content: center;
    height: min(1.1 * 13vw, 1.1 * 48px);
    background-position: center;
    background-size: min(13vw,48px);
    background-image: url("../img/heroes-frame/none.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.guide-hero-text {
    color: goldenrod;
    position: relative;
    top: -16px
}

.guide-hero-text-header {
    width: 400%;
    margin-left: -100%;
    margin-right: -100%;
    color: goldenrod;
    position: relative;
    top: -16px
}

.grid-container-guide {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    font-size: small;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 52px;
}

.selectable-hero {
    height: min(1.1 * 13vw, 1.1 * 64px);
    background-position: center;
    background-size: min(13vw,64px);
    background-image: url("../img/hero.webp");
    background-repeat: no-repeat;
}

.beast {
    display: flex;
    justify-content: center;
    height: min(1.1 * 10vw, 1.1 * 64px);
    height: min(1.1 * 10vw, 1.1 * 64px);
    background-position: center;
    background-image: url("../img/pet.webp");
    background-size: min(calc(0.89 * 13vw), calc(0.89 * 64px));
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.empty-beast {
    display: flex;
    justify-content: center;
    height: min(1.1 * 13vw, 1.1 * 64px);
    background-position: center;
    background-image: url("../img/beasts-frame/frame-rare.png");
    background-size: min(calc(0.89 * 13vw), calc(0.89 * 56px));
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.empty-guide-beast {
    display: flex;
    justify-content: center;
    height: min(1.1 * 13vw, 1.1 * 48px);
    background-position: center;
    background-image: url("../img/beasts-frame/frame-rare.png");
    background-size: min(calc(0.89 * 13vw), calc(0.89 * 56px));
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.selectable-beast {
    height: min(1.1 * 13vw, 1.1 * 64px);
    background-position: center;
    background-image: url("../img/pet.webp");
    background-size: min(calc(0.89 * 13vw), calc(0.89 * 64px));
    background-position: center;
    background-repeat: no-repeat;
}

.generate-container {
    padding-top: 5px;
    height: min(21vh, 135px);
}

.grid-container-h1 {
    display: grid;
    height: 40%;
    grid-template-columns: 35% repeat(3, 20%);
    font-size: min(0.9em, 4vh);
    text-align: center;
    place-content: center;
}

.grid-container-h2 {
    display: grid;
    grid-template-columns: 48% 48% ;
    font-size: min(0.9em, 4vh);
    text-align: center;
    place-content: center;
    padding-top: 1vh;
}

.grid-container-h3 {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    font-size: min(0.9em, 4vh);
    text-align: center;
    place-content: center;
    padding-top: 1vh;
}

.input-wrapper {
    position: relative;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-control {
    display: flex;
    height: max-content;
    font-size: min(1.8em, 95%);
}

.number-label {  
    margin-right: 10px;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: min(5vh, 20px);
    height: min(5vh, 20px);
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: min(2vh, 10px);
    height: min(2vh, 10px);
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.button-disabled {
    background-color: #404040;
    width: min(120px, 24vw);
    height: min(8vh, 40px);
    font-size: min(calc(0.8 * (3vh - 8px)), 1.0em);
    color: white;
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.button {
    width: min(120px, 24vw);
    height: min(8vh, 40px);
    font-size: min(calc(0.8 * (3vh - 8px)), 1.0em);
    background-color: #487f81;
    color: white;
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.button-clear {
    height: min(4vh, 20px);
    width: 100px;
    top: min(-0.35vh, -1px);
    margin-left: 10px;
    font-size: min(calc(0.8 * (3vh - 8px)), 1.0em);
    background-color: #487f81;
    color: white;
    position: relative;
    display: grid;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.button:hover {
    background-color: #5f9ea0;
}

.button:active{
    background-color: #59b386;
 }

.center-text {
    margin: auto;
}

.center-grid {
    grid-template-columns: auto;
}

.footer{
    position: absolute;
    bottom: 0;
    font-size: min(calc(0.8 * (5vh - 5px)), 1em);
    display: flex;
    vertical-align: bottom;
    height: calc(5vh - 5px);
}

.popup {
    display: none;
    grid-template-rows: min(5vh, 40px) min(29vh, 232px)  min(5vh, 40px)  min(29vh, 232px) min(5vh, 40px);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: min(80vh, 800px);
    width: min(80vw, 800px);
    background-color: #404040;
    border-radius: 10px;
}

.guide-popup {
    display: none;
    grid-template-rows: min(5vh, 40px) min(29vh, 232px)  min(5vh, 40px)  min(29vh, 232px) min(5vh, 40px);
    position: absolute;
    margin: auto;
    height: min(80vh, 800px);
    width: min(80vw, 800px);
    background-color: #404040;
    border-radius: 10px;
}

.popup-guild-teams {
    overflow-y: scroll;
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: min(80vh, 800px);
    width: min(80vw, 800px);
    background-color: #404040;
    border-radius: 10px;
}

.popup-hero {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: min(80vh, 800px);
    width: min(80vw, 800px);
    background-color: #404040;
    border-radius: 10px;
}

.popup-grid {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(6, 16.6%);
    grid-row-gap: 5px;
    overflow-y: auto;
    height: 80%;
    width: 90%;
    margin: auto;
    padding: 5px;
}

.popup-header {
    margin: auto;
    padding-top: 8px;
    width: 90%;
    font-size: min(4.2vw, 0.9em);
}

.popup-sub-header {
    color: goldenrod;
    text-align: left;
    padding-top: 14px;
    margin-bottom: 16px;
    padding-left: 20px;
    font-size: min(4.2vw, 0.8em);
    border-bottom: goldenrod 1px solid;
}

.grid-faction {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 25px);
}

.guide-button {
    display: grid;
    place-content: center;
    margin-top: 10px;
}

.faction-selection {
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
    font-size: min(4.2vw, 0.9em);
}

.faction-icon {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#faction-lightbearers {
    background-image: url("../img/factions/lightbearers.png");
}

#faction-maulers {
    background-image: url("../img/factions/maulers.png");
}

#faction-wilders {
    background-image: url("../img/factions/wilders.png");
}

#faction-graveborns {
    background-image: url("../img/factions/graveborns.png");
}

#faction-celestials {
    background-image: url("../img/factions/celestials.png");
}

#faction-hypogeans {
    background-image: url("../img/factions/hypogeans.png");
}

#faction-dimensionals {
    background-image: url("../img/factions/dimensionals.png");
}

.selected {
    opacity: 100%;
}

.unselected {
    opacity: 25%;
}

.textarea-popup {
    height: 100%;
    width: 90%;
    margin: auto;
}

.top5 {
    top: 10px;
}

#popup-beast {
    z-index: 99;
}

#popup-hero {
    z-index: 99;
}

#popup-hero-farming {
    z-index: 9;
}

#popup-guide {
    z-index: 999;
}

#popup-guide-p2 {
    width: min(80vw, 800px);
    height: max-content;
    left: 0;
    right: 0;
    top: 0;
}

.close {
    background-image: url("../img/close.svg");
    position: absolute;
    top: 1%;
    right: 1%;
    height: min(5vh, 24px);
    width: min(5vh, 24px);
    background-position: center;
    background-size: min(13vw,64px);
    background-repeat: no-repeat;
}

.close:hover {
    background-image: url("../img/close2.svg");
}

.print {
    font-size: min(2.5vw, 0.8em);
    position: absolute;
    top: 0.5vh;
    left: 1%;
    height: 2.5vh;
    width: 8vw;
    display: grid;
    place-content: center;
}

.clear {
    color: #e2e2e2;
    position: absolute;
    font-size: min(4.2vw, 0.9em);
    top: 1%;
    left: 1%;
    height: min(5vh, 24px);
    width: min(5vh, 24px);
}

.clear:hover {
    color:darkred;
}

.blur {
    filter: blur(5px);
}



.hero-icon {
    height: min(1.1 * 10vw, 64px);
    width: min(1.1 * 10vw, 64px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 0px 25px 0px;
    opacity: 85%;
}

.hero-icon-guide {
    height: 48px;
    width: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px 0px 25px 0px;
    opacity: 85%;
}

.beast-icon {
    height: min(1.1 * 10vw, 64px);
    width: min(1.1 * 10vw, 64px);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 25px 0px 25px 0px;
    opacity: 85%;
}

.beast-icon-guide {
    height: 48px;
    width: 48px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 25px 0px 25px 0px;
    opacity: 85%;
}

.frame {
    position: relative;
    height: min(1.1 * 10vw,64px, 100%);
    width: min(1.1 * 10vw,64px, 100%);
    background-size: min(1.1 * 10vw, 64px, 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.frame-guide  {
    position: relative;
    height: 48px;
    width: 48px;
    background-size: min(13vw, 48px);
    background-repeat: no-repeat;
    background-position: center;
}

.faction {
    position: relative;
    top: 5%;
    left: 5%;
    height: 25%;
    width: 25%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.rank {
    position: relative;
    top: -73%;
    left: -100%;
    height: 300%;
    width: 300%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.star-bg {
    position: relative;
    left: 6%;
    bottom: 27%;
    height: 20%;
    width: 85%;
    background-color: #121212;
    opacity: 70%;
    border-radius: 0px 0px 20px 0px;
}

.star {
    position: relative;
    top: 10%;
    height: 100%;
    width: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.star-multiple {
    position: relative;
    left: 70%;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}